<mat-list-item class="container" 
[@item]="widerPriority"
[ngClass]="{'properity-normal': item.priority === 3,
'properity-important': item.priority === 2,
'properity-emergency': item.priority === 1}" 
[appDraggable]="true"
[dragTag]="'task-item'"
[draggedClass]="'drag-start'"
[dragData]="item"
(click)="onItemClick()">
  <mat-checkbox class="completion-status" [checked]="item.completed" (click)="onCheckBoxClick($event)"></mat-checkbox>
  <div mat-line class="content" [ngClass]="{'completed': item.completed}">
    <span matTooltip="{{item.desc}}">{{item.desc}}</span>
  </div>
  <div mat-line class="bottom-bar" *ngIf="item.dueDate">
    <span class="due-date">{{item.dueDate |  date: "yy-MM-dd"}}</span>
    <mat-icon *ngIf="item.reminder" svgIcon="clock"></mat-icon>
  </div>
  <mat-icon svgIcon="{{avatar}}" mat-list-avatar class="avatar"></mat-icon>
</mat-list-item>